streamlit>=1.30.0
torch>=2.1.0
transformers>=4.37.0
sentence-transformers>=2.2.2

llama-index>=0.10.0
llama-index-core>=0.10.0
llama-index-embeddings-huggingface>=0.1.0
llama-index-llms-huggingface>=0.1.0
llama-index-readers-wikipedia>=0.1.0

wikipedia>=1.4.0
